body
{
margin: 0px;	
padding: 0px;
position: relative;
background-color:#e0ebeb;
background-image: url('plac_responsywny.jpg');
		/* position of backgoud image */
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
		/*end of position of backgoud image */
color: black;

}

/*Fog on page*/
#all
{
	
	background: rgba(225, 239, 228, 0.8);
}
/*End of Fog on page*/


/*position of menu in right top corner*/
#menu
	{
		border: 1px solid black;
		width: 110px;
		height: 334px;
		text-align: center;
		background:rgba(146, 211, 206, 0.6);
		position: fixed;
		right:-45px;
		top: -300px;
		z-index:100;
		text-shadow:none;
		
	}
/*end of position of menu in right top corner*/	

/*MENU sign on the left bottom corner of  top right menu*/
#icon
	{
		position: absolute;
		left:0;
		bottom:5px;
		
		
	}
/*end of MENU sign on the left bottom corner of top right menu*/

/*what will happend after cllicking on top right menu*/
#menu:hover
{
	padding-top:330px;
	padding-right: 60px;
	background:rgba(169, 214, 205, 1);
	z-index:100;
	
}
/*end of what will happend after cllicking on top right menu*/



/*apperience of menu content*/	
.menu_corner
{
	position: relative;
	width:120px;
	height:32px;
	border: 1px solid black;
	
	/*centering text in the window*/
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	/*end of centering text in the window*/
}	
/*end of apperience of menu content*/

/*apperience of hypertext*/
a:link 
	{
		text-decoration: none;
		color: black;
	} 
	
a:visited
{
	color: black;
}
a:hover 
{
  color: red;
}

/*end of apperience of hypertext*/		
	
#menu_top
	{
		position:fixed;
		width:100%;
		height:38px;
		background-color: white;
		z-index:20;
		text-shadow:none;
		padding-top: 5px;
	}		
	
#start, #english, #ukrainska, #polska, .space
	{
		float:left;
	}
	
	
#start
	{
		width:80px;
		height:30px;
		border: 1px solid black;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		background-color:  rgba(146, 211, 206, 0.6);
		
	}
	
.space
	{
		width: 20px;
	}
	
		
#header
{
	position: relative;
	padding-top:20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: 'Roboto Slab', serif;
	
}

.logo_opp
{
	width: 360px;
	height: 170px;
	position: relative;
	left:50%;
	transform: translateX(-50%);
	margin-top:20px;
	margin-bottom:20px;
}	

.one_procent
{
	text-align: center;
}

#konto_tresc
{
	text-align:center;
	padding-bottom: 10px;
	font-size:22px;
}

#sprawozdania_text
{
	text-align: center;
}
#sprawozdania_text cite
{
	font-size:24px;
}


#skansen_opis > p
{
	text-indent: 5%;
}

/*color of Narodowy Instytut Wolnosci hypertext*/
#narodowy_link 
{
	color:blue;
}
#narodowy_link:hover 
{
	color:red;
}
/*end of color of Narodowy Instytut Wolnosci hypertext*/


.section
{
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	max-width:1024px;
	height: 35px;
	border:1px solid black;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	text-shadow:none;
}

h2
{
	text-align: center;
}

#welcome
{
	font-style: 'Roboto Slab', serif;
	font-size:18px;
}

h4
{
	padding-top:45px;
	text-align: center;
	font-size: 22px;
	
}

.section_list
{
	width:33%;
	height: 35px;
	float:left;
	padding-left:2px;
	padding-right:2px;
	border: 1px solid black;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size:17px; 
	background:rgba(146, 211, 206, 0.7);
	
}	

.tresc
{
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	max-width:1024px;
	text-align:justify;
	text-shadow:none;
	padding-top:5px;
	padding-bottom:20px;
	padding-left:5px;
	padding-right:5px;
	font-size: 20px;
}

#lokalizacja_text
{
	width: 300px;
	height: 340px;
}


#statut_text > p
{
	text-align:center;
	font-weight:bold;
}	
	
	
#bottom
{
	height:40px;
}	

#kontakt_tresc
{
	text-align: center;
	padding-bottom: 50px;
	
	
}
	
footer
{
	position:fixed;
	bottom:0;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	height:40px;
	width:100%;
	background-color:white;
	text-shadow:none;
	z-index:20;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	